<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %d{yyy-MM-dd HH:mm:ss.SSS} %t %class{50}\(%class{0}:%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="demo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/app/demo.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/app/demo.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!--日志文件最大的大小-->
            <MaxFileSize>1024MB</MaxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>[%level] %d{yyy-MM-dd HH:mm:ss.SSS} %t %class{20}\(%class{0}:%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ConsoleAppender" />
    </root>
</configuration>